<h1>Goals</h1>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'goals.all' tagName="li"}}<a href="">List All</a>{{/link-to}}
    {{#link-to 'goals.new' tagName="li"}}<a href="">Add New</a>{{/link-to}}
  </ul>
</div>

{{outlet}}