<h2>List of Goals</h2>

{{#each model as |goal|}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{goal.title}}</h3>
    </div>
    <div class="panel-body">
      <p>Owner: {{goal.owner}}</p>
      <p>Notes: {{goal.notes}}</p>
    </div>
  </div>
{{/each}}
{{outlet}}
